.delete-popup-container {
    width: 448px;
    border-radius: 10px;
    border: 2px solid #00022B;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 14px 14px 26px;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;

}

.delete-popup-container-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.delete-popup-svg {
    margin-bottom: 17px;
}

.delete-popup-title {
    margin-bottom: 6px;
}

.delete-popup-approve-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 100%;
}

/* animation */

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}