
.users-table{
    width: 447px;

}
.header-table{
    display: flex;
    margin-top: 23px;
    margin-bottom: 21px;
}
.name-header{
    width: 200px;
}
.email-header{
    width: 300px;
}
.status-header{
    width: 200px;
}