.user-line {
    padding-top: 23px;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
}

.user-line:hover {
    background: #f9fafb;
}

.user-line-container:nth-child(even) {
    background-color: #f2f2f2;
}

.user-avatar {
    margin-right: 14px;
    display: inline-block
}

.user-name {
    min-width: 140px;
    display: inline-block
}

.user-email {
    min-width: 300px;
    display: inline-block
}

.user-status {
    min-width: 190px;
    display: inline-block
}

.delete-user-button {
    margin-right: 8px;
}